<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="invcult" transaction-type="RESOURCE_LOCAL">

        <class>com.svgenebank.invcult.entity.Zonesiruta</class>
        <class>com.svgenebank.invcult.entity.Localitysiruta</class>
        <class>com.svgenebank.invcult.entity.Countysiruta</class>
        <class>com.svgenebank.invcult.entity.Tippersoana</class>
        <class>com.svgenebank.invcult.entity.Farmers</class>
        <class>com.svgenebank.invcult.entity.Roadtype</class>
        <class>com.svgenebank.invcult.entity.Street</class>
        <class>com.svgenebank.invcult.entity.Location</class>
        <class>com.svgenebank.invcult.entity.Crops</class>
        <class>com.svgenebank.invcult.entity.Inventory</class>
        <class>com.svgenebank.invcult.entity.Persons</class>
        <class>com.svgenebank.invcult.entity.Sysagr</class>
        <class>com.svgenebank.invcult.entity.Motfarmer</class>
        <class>com.svgenebank.invcult.entity.Oldvar</class>
        <class>com.svgenebank.invcult.entity.Procseeds</class>
        <class>com.svgenebank.invcult.entity.Selcrit</class>
        <class>com.svgenebank.invcult.entity.Cultmet</class>
        <class>com.svgenebank.invcult.entity.Dryplace</class>
        <class>com.svgenebank.invcult.entity.Storplace</class>
        <class>com.svgenebank.invcult.entity.Storcont</class>
        <class>com.svgenebank.invcult.entity.Partplant</class>
        <class>com.svgenebank.invcult.entity.Usepoploc</class>
        <class>com.svgenebank.invcult.entity.Presform</class>
        <class>com.svgenebank.invcult.entity.Typeworkdiv</class>
        <class>com.svgenebank.invcult.entity.Workdivision</class>
        <class>com.svgenebank.invcult.entity.InvcultView</class>
    </persistence-unit>
</persistence>
